Bwypy==1.0
certifi==2016.2.28
click==6.7
dash==0.18.3
dash-core-components==0.12.6
dash-html-components==0.7.0
dash-renderer==0.10.0
decorator==4.1.2
Flask==0.12.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
gunicorn==19.7.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
nbformat==4.4.0
numpy==1.13.1
pandas==0.20.3
plotly==2.0.11
python-dateutil==2.6.1
pytz==2017.2
requests==2.14.2
six==1.10.0
traitlets==4.3.2
ujson==1.35
Werkzeug==0.12.2
